# --- API KEYS ---
# Key của Google Gemini (Lấy tại aistudio.google.com)
GOOGLE_API_KEY=

# Key của OpenAI (Nếu sau này bạn muốn dùng thêm, nếu không thì để trống)
# OPENAI_API_KEY=sk-proj-...

# --- DATABASE POSTGRESQL (PGVECTOR) ---
# Format: postgresql+psycopg://user:password@host:port/dbname
CONNECTION_STRING=postgresql+psycopg://postgres:password@localhost:5433/rag_chatbot
COLLECTION_NAME=gemini_knowledge_base

# 1. Model nhúng (Embeddings) - Dùng cho Chunking và Vector hóa
GEMINI_EMBEDDING_MODEL=models/text-embedding-004

# 2. Model ngôn ngữ lớn (LLM) - Dùng cho Trích xuất Metadata và sau này là Retrieval
# Dùng Flash vì nó nhanh và rẻ cho các tác vụ trích xuất
GEMINI_LLM_MODEL=gemini-2.5-pro